:root{
   --color-primary: #f4ca59;
   --color-secondary: #212121;
   --transition: all 0.3s cubic-bezier(0.51, 0.21, 0.06, 0.61);
}

@media (max-width: 1299px) {
  .container{
    width: 90%;
  }

  .banner-content {
    padding: 100px 0 233px;
  }
  .banner-arrow-container{
    height: 300px;
    width: 270px;
  }

  .swiper-button-prev {
    top: 47%;
    left: 90%;
  }
  .swiper-button-next {
    top: 52%;
    right: 9%;
  }

  .banner-content h1{
    font-size: 70px;
  }
  .banner-content p{
    margin-bottom: 40px;
    font-size: 16px;
  }
}

@media (max-width: 991px) {
  .navbar ul li {
    padding: 0 10px;
    font-size: 14px;
  }
  .navbar ul li:last-child {
    padding-left: 20px;
  }

  .swiper-button-prev {
    top: 49%;
    left: 90%;
  }
  .swiper-button-next {
    top: 54%;
    right: 9%;
  }

  .banner-content {
    padding: 70px 0 170px;
  }
  .banner-arrow-container{
    height: 270px;
    width: 230px;
  }
}
 
@media (max-width: 767px) {
  .btn{
    padding: 10px 20px;
    font-size: 15px;
  }
  .navbar {
    display: block;
    padding: 0;
  }
  .navbar ul {
    display: block;
    width: 100%;
    padding: 0;
    backdrop-filter: blur(9px);
    height: 100vh;
    max-height: 0;
    overflow: hidden;
    transition: all ease-in-out 0.3s;
  }
  .navbar ul.open {
    max-height: 100vh;
    margin-top: 20px;
  }
  .navbar ul li {
    width: 100%;
    padding: 13px 0;
  }
  .navbar ul li:last-child {
    padding-left: 0;
  }
  .navbar ul li a {
    padding: 0;
  }
  .navbar a.navbar-brand{
    display: block;
    width: 250px;
  }
  .navbar .navbar-toggler {
    display: block;
    position: absolute;
    height: 40px;
    top: 18px;
    right: 15px;
    background-color: transparent;
    color: #fff;
    outline: none;
    border: none;
    padding: 0 5px;
    cursor: pointer;
  }
  .navbar .navbar-toggler span,
  .navbar .navbar-toggler span::before,
  .navbar .navbar-toggler span::after {
    display: block;
    content: '';
    background-color: #fff;
    height: 3px;
    width: 25px;
    border-radius: 4px;
    transition: all ease-in-out 0.3s;
  }
  .navbar .navbar-toggler span::before {
    transform: translateY(-8px);
  }
  .navbar .navbar-toggler span::after {
    transform: translateY(5px);
  }
  
  .navbar .navbar-toggler.open-navbar-toggler span {
    /* transform: rotate(90deg); */
    background-color: transparent;
    /* transform: scale(0.85) rotate(270deg); */
  }
  .navbar .navbar-toggler.open-navbar-toggler span::before {
    transform: translateY(0px) rotate(45deg);
    /* transform: translateY(0px) scale(0.75) rotate(45deg); */
  }
  .navbar .navbar-toggler.open-navbar-toggler span::after {
    transform: translateY(-3px) rotate(-45deg);
    /* transform: translateY(-3px) scale(0.75) rotate(-45deg); */
  }

  .banner-arrow-container, .swiper-button-prev, .swiper-button-next{
    display: none;
  }

  .banner-content h1{
    font-size: 50px;
  }
  .banner-content p{
    margin-bottom: 20px;
    font-size: 15px;
  }
}