:root{
   --color-primary: #f4ca59;
   --color-secondary: #212121;
   --transition: all 0.3s cubic-bezier(0.51, 0.21, 0.06, 0.61);
}

@media (max-width: 1299px) {
  p{
    font-size: 16px!important;
  }
  .container{
    width: 90%;
  }

  .banner-content {
    padding: 100px 0 233px;
  }
  .banner-arrow-container{
    height: 300px;
    width: 270px;
  }

  .swiper-button-prev {
    top: 47%;
    left: 90%;
  }
  .swiper-button-next {
    top: 52%;
    right: 9%;
  }

  .banner-content h1{
    font-size: 70px;
  }
  .banner-content p{
    margin-bottom: 40px;
  }

  .get-an-estimate p{
    margin-top: 10px;
  }

  /* Gallery */
  .gallery{
    padding: 120px 0 140px;
  }
  .gallery h2{
    margin-bottom: 30px;
    font-size: 40px;
  }
  .box img{
    width: 350px;
    margin-top: -50px;
    margin-left: -40px;
  }
  .g-photos .half-container img{
    height: 400px;
  }
  .g-photos .half-container.half-container-sm img{
    height: 200px;
  }
  .gallery .view-all{
    margin-top: 20px;
  }

  .blog-articles{
    grid-template-columns: 30% 30% 30%;
    gap: 40px;
  }
}

@media (max-width: 991px) {
  .navbar ul li {
    padding: 0 10px;
    font-size: 14px;
  }
  .navbar ul li:last-child {
    padding-left: 20px;
  }

  .swiper-button-prev {
    top: 49%;
    left: 90%;
  }
  .swiper-button-next {
    top: 54%;
    right: 9%;
  }

  .banner-content {
    padding: 70px 0 250px;
  }
  .banner-arrow-container{
    height: 270px;
    width: 230px;
  }

  .get-an-estimate {
    padding: 90px 0;
  }
  .get-an-estimate p{
    font-size: 16px;
  }

  /* Gallery */
  .gallery{
    padding: 100px 0 120px;
  }
  .gallery h2{
    margin-bottom: 20px;
    font-size: 35px;
  }
  .box img{
    width: 250px;
    margin-top: -35px;
    margin-left: -30px;
  }
  .g-photos .half-container img{
    height: 300px;
  }
  .g-photos .half-container.half-container-sm img{
    height: 150px;
  }

  .blog {
    padding: 100px 0 80px;
    clip-path: polygon(0% 5%, 100% 0%, 100% 100%, 0% 95%);
    margin-top: -57px;
  }
  .blog-articles{
    grid-template-columns: repeat(auto-fit, minmax(325px, 30%));
    gap: 20px;
    justify-content: center;
  }
  .service-certified, .view-blog {
    padding: 20px 0;
  }
  .view-blog .blogs img {
    height: 200px;
    margin-bottom: 20px;
  }
}
 
@media (max-width: 767px) {
  p{
    font-size: 15px!important;
  }
  .btn{
    padding: 10px 20px;
    font-size: 15px;
  }
  .navbar {
    display: block;
    padding: 0;
  }
  .navbar ul {
    display: block;
    width: 100%;
    padding: 0;
    backdrop-filter: blur(9px);
    height: 100vh;
    max-height: 0;
    overflow: hidden;
    transition: all ease-in-out 0.3s;
  }
  .navbar ul.open {
    max-height: 100vh;
    margin-top: 20px;
  }
  .navbar ul li {
    width: 100%;
    padding: 13px 0;
  }
  .navbar ul li:last-child {
    padding-left: 0;
  }
  .navbar ul li a {
    padding: 0;
  }
  .navbar a.navbar-brand{
    display: block;
    width: 250px;
  }
  .navbar .navbar-toggler {
    display: block;
    position: absolute;
    height: 40px;
    top: 18px;
    right: 15px;
    background-color: transparent;
    color: #fff;
    outline: none;
    border: none;
    padding: 0 5px;
    cursor: pointer;
  }
  .navbar .navbar-toggler span,
  .navbar .navbar-toggler span::before,
  .navbar .navbar-toggler span::after {
    display: block;
    content: '';
    background-color: #fff;
    height: 3px;
    width: 25px;
    border-radius: 4px;
    transition: all ease-in-out 0.3s;
  }
  .navbar .navbar-toggler span::before {
    transform: translateY(-8px);
  }
  .navbar .navbar-toggler span::after {
    transform: translateY(5px);
  }
  
  .navbar .navbar-toggler.open-navbar-toggler span {
    /* transform: rotate(90deg); */
    background-color: transparent;
    /* transform: scale(0.85) rotate(270deg); */
  }
  .navbar .navbar-toggler.open-navbar-toggler span::before {
    transform: translateY(0px) rotate(45deg);
    /* transform: translateY(0px) scale(0.75) rotate(45deg); */
  }
  .navbar .navbar-toggler.open-navbar-toggler span::after {
    transform: translateY(-3px) rotate(-45deg);
    /* transform: translateY(-3px) scale(0.75) rotate(-45deg); */
  }

  .banner-arrow-container, .swiper-button-prev, .swiper-button-next{
    display: none;
  }

  .banner-content {
    padding: 100px 0 200px;
  }
  .banner-content h1{
    font-size: 50px;
  }
  .banner-content p{
    margin-bottom: 20px;
  }

  .get-an-estimate {
    padding: 85px 0 65px;
    clip-path: polygon(0 8%, 100% 0, 100% 100%, 0 92%);
    transform: translatey(-55px);
  }
  .g-est-container{
    display: block;
  }

  /* Gallery */
  .gallery{
    padding: 90px 0;
    clip-path: polygon(0 0, 100% 4%, 100% 96%, 0% 100%);
    margin-top: -115px;
  }
  .box img{
    width: 200px;
    margin-top: -35px;
    margin-left: -10px;
  }
  .g-photos{
    grid-template-columns: repeat(1, 1fr);
  }
  .g-photos .half-container img, .g-photos .half-container.half-container-sm img{
    height: 200px;
  }
  .gallery p {
    margin-top: 20px;
  }
  .gallery .view-all{
    justify-content: center;
    margin-top: 20px;
  }
  .gallery .view-all a {
    justify-content: center;
    margin-top: 10px;
  }

  .blog {
    padding: 70px 0;
    margin-top: -60px;
  }
  .service-certified, .view-blog {
    padding: 30px 0;
  }
  .blog-articles{
    grid-template-columns: repeat(auto-fit, minmax(280px, 30%));
    justify-content: center;
  }
  .book-now .bookNow .swiper-wrapper .swiper-slide {
    padding: 50px 0;
  }
}