@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700&family=Open+Sans&display=swap');
:root{
   --color-primary: #f4ca59;
   --color-secondary: #212121;
   --transition: all 0.3s ease-in-out;
}

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body{
   background-color: #fcfaf7;
   font-family: 'Exo 2', sans-serif;
   color: #333;
}
main{
   display: flex;
   flex-direction: column;
   /* align-items: center; */
}
p{
   line-height: 1.7;
}
.container{
   width: 1200px;
   margin: 0 auto;
}
.btn{
   display: inline-block;
   padding: 10px 20px;
   color: #ffffff;
   text-transform: uppercase;
   text-decoration: none;
   border: 1px solid #ffffff;
   border-radius: 5px;
}
.top{
   background-color: #212121a3;
   background-image: url("https://images.unsplash.com/photo-1485291571150-772bcfc10da5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1856&q=80");
   background-blend-mode: multiply;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
}

header{
   width: 100%;
   border-bottom: 1px solid rgba(255,255,255,0.1);
   position: fixed;
   top: 0;
   z-index: 1000;
}
.blur{
   background-color: #21212127;
   -webkit-backdrop-filter: blur(9px);
   backdrop-filter: blur(9px);
   transition: var(--transition);
}
.navbar {
   padding: 10px 0!important;
   display: flex;
   justify-content: space-between;
   align-items: center;
   color: #fff;
   font-size: 16px;
   padding: 0 30px;  
}
.navbar a {
   text-decoration: none;
   color: #fff;
}
.navbar a.navbar-brand{
   width: 25%;
}
.navbar a.navbar-brand img {
   width: 90%;
}
.navbar ul {
   display: flex;
   align-items: center;
   list-style: none;
}
.navbar ul li {
   text-align: center;
   padding: 0 20px;
}
.navbar ul li:last-child {
   display: flex;
   justify-content: center;
   align-items: center;
   padding-left: 40px;
}
.navbar ul li:last-child .icon-menu{
   color: var(--color-primary);
}
.navbar ul li a:hover {
   color: var(--color-primary);
   transition: var(--transition);
}
.navbar .navbar-toggler {
   display: none;
}

/* banner */
.banner-carousel{
   position: relative;
   padding-top: 100px;
   color: #ffffff;
   clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);

}
.banner-content{
   /* display: grid;
   grid-template-columns: repeat(2,1fr); */
   padding: 165px 0 350px;
}
.banner-content h1{
   font-size: 100px;
   font-weight: 500;
}
.banner-content p{
   margin-bottom: 40px;
   font-size: 20px;
}
.banner-arrow-container{
   position: absolute;
   top: 25%;
   right: 0;
   height: 350px;
   width: 350px;
   background-color: var(--color-primary);
   clip-path: polygon(60% 0, 100% 0, 100% 100%, 0 100%);
}
.swiper.banner{
   position: unset;
}
.banner .swiper-button-prev,.banner .swiper-button-next {
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center center;
}
.banner .swiper-button-prev::after,.banner .swiper-button-next::after {
   display: none;
}
.banner .swiper-button-prev {
   top: 45%;
   left: 94%;
   background-image: url("../assets/image/arrow-back-outline.svg") !important;
}
.banner .swiper-button-next {
   right: 6%;
   background-image: url("../assets/image/arrow-forward-outline.svg") !important;
}

/* Get an estimate */
.get-an-estimate{
   padding: 135px 0 110px;
   background-color: var(--color-primary);
   clip-path: polygon(0 21%, 100% 0, 100% 100%, 0 79%);
   /* transform: translatey(-85px); */
   margin-top: -85px;
}
.g-est-container{
   display: flex;
   justify-content: space-between;
}
.g-est-container .one, .g-est-container .two, .g-est-container .three, .g-est-container .four{
   text-align: center;
   margin-bottom: 30px;
}
.get-an-estimate p{
   margin-top: 20px;
   font-size: 20px;
}

/* Gallery */
.gallery{
   padding: 140px 0 160px;
   background-color: #000000c2;
   background-image: url("../assets/image/Layer-14.jpg");
   background-blend-mode: color;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
   clip-path: polygon(0 0, 100% 7.5%, 100% 92.5%, 0% 100%);
   /* transform: translatey(-167px); */
   margin-top: -85px;
}
.gallery h2, .blog-articles .service-certified h2, .service-description h2{
   padding: 0 10px;
   background-color: #212121;
   display: inline-block;
   position: relative;
   margin-bottom: 40px;
   font-size: 48px;
   font-weight: 400;
   color: #ffffff;
}
.gallery p{
   margin-top: 50px;
   font-weight: 400;
   color: #ffffff;
   text-align: center;
}
.box img{
   position: absolute;
   width: 400px;
   margin-top: -62px;
   margin-left: -50px;
   z-index: -100;
}
.g-photos{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
}
.g-photos .half-container img{
   width: 100%;
   height: 500px;
   object-fit: cover;
   display: block; /* to remove whitespace under image */
}
.g-photos .half-container.half-container-sm img{
   height: 250px;
}
.gallery .view-all{
   display: flex;
   justify-content: end;
   margin-top: 30px;
}
.gallery .view-all a{
   display: flex;
   justify-content: end;
   margin-top: 20px;
   padding-left: 15px;
   color: #ffffff;
   text-decoration: none;
   border-left: 2px solid var(--color-primary);
}

/* Blog articles */
.blog{
   padding: 140px 0;
   background-color: var(--color-primary);
   clip-path: polygon(0% 11%, 100% 0%, 100% 100%, 0% 89%);
   /* transform: translatey(-247px); */
   margin-top: -85px;
}
.blog-articles{
   display: grid;
   grid-template-columns: 24% 24% 48%;
   gap: 30px;
   grid-auto-flow: dense;
}
.blog-articles .service-certified h2, .service-description h2{
   padding: 0;
   background-color: transparent;
   color: var(--color-secondary);
}

.service-certified, .view-blog{
   padding: 50px 0;
}

.book-now{
   display: flex;
   color: #ffffff;
   text-align: center;
}
.book-now a{
   display: flex;
   justify-content: center;
   align-items: center;
   color: #ffffff;
   text-decoration: none;
}
.book-now ion-icon{
   margin-top: 3px;
   padding-left: 5px;
}
.book-now .bookNow .swiper-wrapper .swiper-slide{
   display: flex;
   justify-content: space-around;
   flex-direction: column;
   background-color: #212121a3;
   background-blend-mode: multiply;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
}
.book-now .bookNow .swiper-wrapper .swiper-slide.one{
   background-image: url("https://images.unsplash.com/photo-1629281066736-ff3a1e6b36d8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80");
}
.book-now .bookNow .swiper-wrapper .swiper-slide.two{
   background-image: url("https://images.unsplash.com/photo-1498887960847-2a5e46312788?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80");
}
.book-now .bookNow .swiper-wrapper .swiper-slide.three{
   background-image: url("https://images.unsplash.com/photo-1613214149922-f1809c99b414?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
}

/* .view-blog{
   max-width: 557px;
} */
.view-blog .blogs{
   text-align: start;
}
.view-blog .blogs img{
   height: 160px;
   margin-bottom: 13px;
}
.view-blog .blogs .swiper-wrapper .swiper-slide h3, .view-blog .blogs .swiper-wrapper .swiper-slide p{
   margin-bottom: 5px;
   padding-right: 5px;
}
.view-blog .blogs .swiper-wrapper .swiper-slide a{
   display: flex;
   align-items: center;
   color: var(--color-secondary);
   text-decoration: none;
}

/* Service */
.service{
   padding: 70px 0;
}
.service-container{
   display: grid;
   grid-template-columns: 73% 24%;
   gap: 40px;
   align-items: center;
}
.service-description{
   display: flex;
   align-items: center;
}
.service-slider{
   text-align: center;
}
.swiper.serviceSlider{
   height: 500px;
}
.swiper.serviceSlider .swiper-wrapper .swiper-slide{
   /* margin-bottom: 40px; */
   padding: 10px;
}
.swiper.serviceSlider .swiper-wrapper .swiper-slide h2{
   padding: 10px 0;
}
.swiper.serviceSlider .swiper-button-next, .swiper.serviceSlider .swiper-button-prev {
   top: 10px;
   left: auto;
   right: 0;
   color: var(--color-primary);
   transform: rotate(90deg);
}
.swiper.serviceSlider .swiper-button-next {
   top: 50px;
}
.swiper.serviceSlider .swiper-button-next:after, .swiper.serviceSlider .swiper-button-prev:after {
   font-size: 20px;
}