@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700&family=Open+Sans&display=swap');
:root{
   --color-primary: #f4ca59;
   --color-secondary: #212121;
   --transition: all 0.3s ease-in-out;
}

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body{
   font-family: 'Exo 2', sans-serif;
   /* font-family: 'Open Sans', sans-serif; */
   color: #333;
}
main{
   display: flex;
   flex-direction: column;
   /* align-items: center; */
}
.container{
   width: 1300px;
   margin: 0 auto;
}
.btn{
   display: inline-block;
   padding: 10px 20px;
   color: #ffffff;
   text-transform: uppercase;
   text-decoration: none;
   border: 1px solid #ffffff;
   border-radius: 5px;
}
.top{
   background-color: #21212165;
   background-image: url("https://images.unsplash.com/photo-1485291571150-772bcfc10da5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1856&q=80");
   background-blend-mode: multiply;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
}

header{
   width: 100%;
   border-bottom: 1px solid rgba(255,255,255,0.1);
   position: fixed;
   top: 0;
   z-index: 1000;
}
.blur{
   -webkit-backdrop-filter: blur(9px);
   backdrop-filter: blur(9px);
   transition: var(--transition);
}
.navbar {
   padding: 10px 0!important;
   display: flex;
   justify-content: space-between;
   align-items: center;
   color: #fff;
   font-size: 16px;
   padding: 0 30px;  
}
.navbar a {
   text-decoration: none;
   color: #fff;
}
.navbar a.navbar-brand{
   width: 25%;
}
.navbar a.navbar-brand img {
   width: 90%;
}
.navbar ul {
   display: flex;
   list-style: none;
}
.navbar ul li {
   text-align: center;
   padding: 0 20px;
}
.navbar ul li:last-child {
   display: flex;
   justify-content: center;
   align-items: center;
   padding-left: 40px;
}
.navbar ul li:last-child .icon-menu{
   color: var(--color-primary);
}
.navbar ul li a:hover {
   color: var(--color-primary);
   transition: var(--transition);
}
.navbar .navbar-toggler {
   display: none;
}

/* banner */
.banner-carousel{
   position: relative;
   padding-top: 100px;
   color: #ffffff;
   clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);

}
.banner-content{
   /* display: grid;
   grid-template-columns: repeat(2,1fr); */
   padding: 165px 0 350px;
}
.banner-content h1{
   font-size: 100px;
   font-weight: 500;
}
.banner-content p{
   margin-bottom: 40px;
   font-size: 20px;
}
.banner-arrow-container{
   position: absolute;
   top: 25%;
   right: 0;
   height: 350px;
   width: 350px;
   background-color: var(--color-primary);
   clip-path: polygon(60% 0, 100% 0, 100% 100%, 0 100%);
}
.swiper{
   position: unset;
}
.swiper-button-prev,.swiper-button-next {
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center center;
}
.swiper-button-prev::after,.swiper-button-next::after {
   display: none;
}
.swiper-button-prev {
   top: 45%;
   left: 94%;
   background-image: url("../assets/image/arrow-back-outline.svg") !important;
}
.swiper-button-next {
   right: 6%;
   background-image: url("../assets/image/arrow-forward-outline.svg") !important;
}

/* Get an estimate */
.get-an-estimate{
   padding: 135px 0 110px;
   background-color: var(--color-primary);
   clip-path: polygon(0 21%, 100% 0, 100% 100%, 0 79%);
   transform: translatey(-85px);
}
.g-est-container{
   display: flex;
   justify-content: space-between;
}
.one, .two, .three, .four{
   text-align: center;
   margin-bottom: 30px;
}
.get-an-estimate p{
   margin-top: 20px;
   font-size: 20px;
}
